*{
    font-family: 'Poppins';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    width: 100vw;
    position: fixed;
    top: 0;
    background: rgb(43, 15, 15);
}
.header a{
    color: white;
}

.header ul li a{
    box-shadow: inset 0 0 0 #fff;
    transition: all 0.3s ease;
}
.header ul li a:hover{
    color: #232323;
    box-shadow: inset 0 -50px 0 #fff;
}
.back{
    margin-top: -19px;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    height: 400px;
}

/* .top-padding{
    padding: 40px 0px;
} */

.heading-white{
    color: white;
    font-size: 5vw;
    text-align: center;
    padding: 165px 0px;
    text-shadow: 3px 1px 11px #331C0F;
}

#abt, #services{
    padding: 50px 40px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}
#services h1{
    width: 45%;
    font-size: 7vw;
}
#services .buttons{
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#services .buttons a{
    color: #232323;
    height: 4vw;
    width: 13vw;
    display: grid;
    place-content: center;
    font-size: 1.5vw;
    border-bottom: 5px solid #232323;    
    box-shadow: inset 0px 0px 0 #232323;
    transition: all 0.3s ease;
}
#services .buttons a:hover{
    text-decoration: none;
    color: white;
    box-shadow: inset 0px -50px 0 #232323;
}
#abt h1 div{
    width: 45%;
}
#abt h1{
    font-size: 7vw;
}

.btn-dark{
    background-color: #324897;
    color: white;
    width: 49.8%;
    padding: 15px;
    font-size: 20px;
}
.btn-dark:hover{
    color: white;
    font-weight: bold;
}

.footer{
    background-color: #222;
    color: white;
    padding: 40px 100px 60px 100px;
}

form, .table{
    width: 50%;
    margin: 0px auto 100px auto;
}

.btn-submit{
    background-color: #324897;
    color: white;
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    font-size: 20px;
}
.btn-submit:hover{
    color: white;
    font-weight: bold;
}

thead{
    background-color: #333;
    color: white;
}

.search{
    width: 100%;
    margin: 10px auto 10px auto;
    text-align: center;
}

#result{
    display:none;
}

.form-container{
    padding: 100px 200px;
}
.form-container h1{
    margin: 0 0 40px 12vw;
}
.footer-content{
    display: flex;
    align-items: flex-end;
}
.icon{
    margin: 0 5px;
    width: 30px;
    height: 30px;
    filter: invert(1);
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

#sort_button {
    background-color: rgb(71, 230, 177);
    width: 120px;
    height: 50px;
    margin-left: 45%;
  }